@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --primary-color: rgba(230, 120, 252, 0.973);
    --primary-color-darker: rgba(22, 6, 15, 0.973);
}

* {
   box-sizing: border-box;
   outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

 button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 5px;
    margin: 5px;
}

 button:hover {
    background: var(--primary-color-darker);
}

.relogio {
    font-size: 3em;
}

.pausado {
    color: rgb(40, 37, 192);
}